.githubCorner svg {
  fill: #fa73d9;
  color: #21212b;
}

.githubCorner:hover .octoArm {
  -webkit-animation: octocat-wave 0.56s ease-in-out;
  animation: octocat-wave 0.56s ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%,
  to {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  to {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    -webkit-animation: none;
    animation: none;
  }
  .githubCorner .octoArm {
    -webkit-animation: octocat-wave 0.56s ease-in-out;
    animation: octocat-wave 0.56s ease-in-out;
  }
}
