.lolly {
  text-align: center;
  -webkit-filter: drop-shadow(0 0 10px #000);
  filter: drop-shadow(0 0 10px #000);
}

@media (min-width: 740px) {
  .lolly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
